# Parte 1
Cargue la base de datos Lluvia_full.csv, codifique la variable LluviaMan como 0 y 1 para los días sin lluvia y con lluvia respectivamente. Además, realice una separación de la base de datos en un set de entrenamiento y set de validación. Utilice una proporción de 70:30 respectivamente estratificado por la LluviaMan. Para poder replicar sus resultados, fije una semilla antes de obtener los indices. Para ello utilice la función set.seed(2023).

### Carga de archivo y configuraciones iniciales

In [2]:
# Importar librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Cargar base de datos lluvia_full.csv
df = pd.read_csv('data/lluvia_full.csv', sep=',')

In [5]:
df.head()

,MinTemp,MaxTemp,Lluvia,Evaporacion,Sol,VelRafaga,Vel9am,Vel3pm,Hum9am,Hum3pm,Pres9am,Pre3pm,Nub9am,Nub3pm,Temp9am,Temp3pm,LluviaHoy,LluviaMan,Koppen,Estacion
0,7.6,19.3,0.0,3.4,9.4,35.0,13.0,13.0,73.0,32.0,1018.6,1015.4,1.0,1.0,9.4,18.8,No,No,Subtropical,Invierno
1,6.8,19.5,0.0,3.4,9.4,46.0,19.0,28.0,67.0,42.0,1018.4,1015.2,1.0,1.0,11.9,17.9,No,No,Subtropical,Invierno
2,5.5,13.9,0.0,2.8,3.8,44.0,26.0,13.0,72.0,58.0,1017.8,1015.5,7.0,7.0,8.1,12.2,No,No,Temperate,Invierno
3,8.6,14.3,0.0,2.8,3.8,35.0,13.0,17.0,67.0,56.0,1017.4,1015.0,7.0,7.0,9.3,13.4,No,Yes,Temperate,Invierno
4,7.9,13.0,0.0,2.8,3.8,39.0,15.0,17.0,68.0,69.0,1017.6,1015.3,7.0,7.0,9.0,11.7,No,No,Temperate,Invierno

In [7]:
#Verificar si hay datos faltantes
print(df.isnull().sum())

MinTemp        0
MaxTemp        0
Lluvia         0
Evaporacion    0
Sol            0
VelRafaga      0
Vel9am         0
Vel3pm         0
Hum9am         0
Hum3pm         0
Pres9am        0
Pre3pm         0
Nub9am         0
Nub3pm         0
Temp9am        0
Temp3pm        0
LluviaHoy      0
LluviaMan      0
Koppen         0
Estacion       0
dtype: int64

In [8]:
# Información de dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56420 entries, 0 to 56419
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MinTemp      56420 non-null  float64
 1   MaxTemp      56420 non-null  float64
 2   Lluvia       56420 non-null  float64
 3   Evaporacion  56420 non-null  float64
 4   Sol          56420 non-null  float64
 5   VelRafaga    56420 non-null  float64
 6   Vel9am       56420 non-null  float64
 7   Vel3pm       56420 non-null  float64
 8   Hum9am       56420 non-null  float64
 9   Hum3pm       56420 non-null  float64
 10  Pres9am      56420 non-null  float64
 11  Pre3pm       56420 non-null  float64
 12  Nub9am       56420 non-null  float64
 13  Nub3pm       56420 non-null  float64
 14  Temp9am      56420 non-null  float64
 15  Temp3pm      56420 non-null  float64
 16  LluviaHoy    56420 non-null  object
 17  LluviaMan    56420 non-null  object
 18  Koppen       56420 non-null  object
 19  Estacion     56420 non-null  object
dtypes: float64(16), object(4)
memory usage: 8.6+ MB

### Transformación de valores en variable LluviaMan

In [9]:
# Codifique la variable LluviaMan como 0 y 1 para los días sin lluvia y con lluvia respectivamente
df["LluviaMan"].replace(["No","Yes"], [0, 1], inplace = True)
df['LluviaMan'].value_counts()

LluviaMan
0    43993
1    12427
Name: count, dtype: int64

In [10]:
# Información de dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56420 entries, 0 to 56419
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MinTemp      56420 non-null  float64
 1   MaxTemp      56420 non-null  float64
 2   Lluvia       56420 non-null  float64
 3   Evaporacion  56420 non-null  float64
 4   Sol          56420 non-null  float64
 5   VelRafaga    56420 non-null  float64
 6   Vel9am       56420 non-null  float64
 7   Vel3pm       56420 non-null  float64
 8   Hum9am       56420 non-null  float64
 9   Hum3pm       56420 non-null  float64
 10  Pres9am      56420 non-null  float64
 11  Pre3pm       56420 non-null  float64
 12  Nub9am       56420 non-null  float64
 13  Nub3pm       56420 non-null  float64
 14  Temp9am      56420 non-null  float64
 15  Temp3pm      56420 non-null  float64
 16  LluviaHoy    56420 non-null  object
 17  LluviaMan    56420 non-null  int64
 18  Koppen       56420 non-null  object
 19  Estacion     56420 non-null  object
dtypes: float64(16), int64(1), object(3)
memory usage: 8.6+ MB

### Sepación de base de datos

In [11]:
# Separar datos estratificads por la variable LluviaMan

from sklearn.model_selection import train_test_split

df_y = df["LluviaMan"]
df_X = df.copy()
df_X.drop(["LluviaMan"], axis = "columns", inplace =  True)

In [12]:
# Dataframe df_y
df_y.head()

0    0
1    0
2    0
3    1
4    0
Name: LluviaMan, dtype: int64

In [13]:
# Dataframe df_X
df_X.head()

,MinTemp,MaxTemp,Lluvia,Evaporacion,Sol,VelRafaga,Vel9am,Vel3pm,Hum9am,Hum3pm,Pres9am,Pre3pm,Nub9am,Nub3pm,Temp9am,Temp3pm,LluviaHoy,Koppen,Estacion
0,7.6,19.3,0.0,3.4,9.4,35.0,13.0,13.0,73.0,32.0,1018.6,1015.4,1.0,1.0,9.4,18.8,No,Subtropical,Invierno
1,6.8,19.5,0.0,3.4,9.4,46.0,19.0,28.0,67.0,42.0,1018.4,1015.2,1.0,1.0,11.9,17.9,No,Subtropical,Invierno
2,5.5,13.9,0.0,2.8,3.8,44.0,26.0,13.0,72.0,58.0,1017.8,1015.5,7.0,7.0,8.1,12.2,No,Temperate,Invierno
3,8.6,14.3,0.0,2.8,3.8,35.0,13.0,17.0,67.0,56.0,1017.4,1015.0,7.0,7.0,9.3,13.4,No,Temperate,Invierno
4,7.9,13.0,0.0,2.8,3.8,39.0,15.0,17.0,68.0,69.0,1017.6,1015.3,7.0,7.0,9.0,11.7,No,Temperate,Invierno

In [14]:
# Separo en 70% entrenamiento y 30% testeo con una semilla 2023

X_train, X_test, y_train, y_test = train_test_split(df_X, df_y, train_size = 0.7, random_state = 2023, stratify = df_y)

# Parte 2
Utilizando el set de entrenamiento, ajuste un modelo de regresión logística, SVM, árbol de clasificación y Random Forest. Para ello debe:


#### 1. Limpiar los datos - Escalar los datos numéricos. - Transformar a dummys las variables categóricas.

In [16]:
# Identificar variables numércicas y categóricas
categoricas = X_train.columns[X_train.dtypes=='object']
numericas = X_train.columns[X_train.dtypes!='object']
print("Variables categóricas: ",categoricas)
print("Variables numéricas: ",numericas)

Variables categóricas:  Index(['LluviaHoy', 'Koppen', 'Estacion'], dtype='object')
Variables numéricas:  Index(['MinTemp', 'MaxTemp', 'Lluvia', 'Evaporacion', 'Sol', 'VelRafaga',
       'Vel9am', 'Vel3pm', 'Hum9am', 'Hum3pm', 'Pres9am', 'Pre3pm', 'Nub9am',
       'Nub3pm', 'Temp9am', 'Temp3pm'],
      dtype='object')

#### 2. Definir la grilla de hiperparámetros a optimizar, en este caso:

$SVM$


Costo

$Árbol de clasificación:$


Observaciones mínimas para división.

Costo de complejidad.

Profundidad máxima del árbol.

$Random Forest$

Número de árboles.

Número de predictores muestreados para cada árbol.

Observaciones mínimas para división.

#### 3. Buscar los hiperparámetros óptimos utilizando validación cruzada optimizando la métrica de roc_auc

# Parte 3

Compare los modelos ajustados utilizando el set de test, bajo el criterio de f1-score, ¿cuál es el mejor modelo en su caso?